.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;
}

.subTitle {
  padding: 1.5rem;
  font-family: var(--oswald-font-family);
  text-transform: uppercase;
  font-weight: 200;
  font-size: 20px;
}
