.AccordionHeader {
  display: flex;
  padding: 1rem 0rem 0rem 0rem;
  font-family: var(--oswald-font-family);
  text-transform: uppercase;
}

button[data-state="open"] > .AccordionChevron {
  transform: rotate(180deg);
  transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}
